<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suqi.center.machine.dao.viz.mapper.McDefaultUpdateDeviceTaskMapper">


    <select id="quickPageById" resultType="com.suqi.center.machine.dao.viz.entity.McDefaultUpdateDeviceTask">
        SELECT <choose><when test="ew!=null and ew.sqlSelect!=null and ew.sqlSelect !='' ">${ew.sqlSelect}</when><otherwise>*</otherwise></choose> FROM viz_mc_default_update_device_task
                    <where>
                        <if test="ew != null">
                            ${ew.sqlSegment}
                        </if>
                        and id &gt; #{lastId}
                    </where>
                        ORDER BY id LIMIT #{pageSize}
    </select>

    <select id="quickPage" resultType="com.suqi.center.machine.dao.viz.entity.McDefaultUpdateDeviceTask">
        SELECT <choose><when test="ew!=null and ew.sqlSelect!=null and ew.sqlSelect !='' ">${ew.sqlSelect}</when><otherwise>*</otherwise></choose> FROM viz_mc_default_update_device_task
                    <where>
                        <if test="ew != null">
                            ${ew.sqlSegment}
                        </if>
                        <if test="pageNo &gt; 1">
                        and id &gt; (
                            SELECT id FROM viz_mc_default_update_device_task
                                        <where>
                                        <if test="ew != null">
                                            ${ew.sqlSegment}
                                        </if>
                                        </where>
                                        ORDER BY id LIMIT ${((pageNo-1)*pageSize)-1}, 1)
                        </if>
                    </where>
                        ORDER BY id LIMIT #{pageSize}
    </select>

    <select id="listVo" resultType="com.suqi.center.machine.dao.viz.vo.McDefaultUpdateDeviceTaskListVo">
        select mdudt.id, mudt.name mcUpdateDeviceTaskName, mssp.supplier_type, msspt.name serviceSoftwarePackageTypeName
        , mssp.name serviceSoftwarePackageName, mdudt.create_time, mdudt.last_update_time
        from viz_mc_default_update_device_task mdudt
        left join viz_mc_update_device_task mudt on mdudt.fk_mc_update_device_task_id = mudt.id
        left join viz_mc_service_software_package mssp on mudt.fk_mc_server_software_package_id = mssp.id
        left join viz_mc_service_software_package_type msspt on mssp.fk_mc_service_software_package_id = msspt.id
        where mdudt.status = 50
    </select>

    <select id="checkTaskRepeat" resultType="java.lang.Integer">
        select count(mdudt.id)
        from viz_mc_default_update_device_task mdudt
        left join viz_mc_update_device_task mudt on mdudt.fk_mc_update_device_task_id = mudt.id
        left join viz_mc_service_software_package mssp on mudt.fk_mc_server_software_package_id = mssp.id
        left join viz_mc_service_software_package_type msspt on mssp.fk_mc_service_software_package_id = msspt.id
        <where>
            mdudt.status = 50
            <if test="fkMcServiceSoftwarePackageTypeId != null">
                and msspt.id = #{fkMcServiceSoftwarePackageTypeId}
            </if>
            <if test="supplierType != null">
                and mssp.supplier_type = #{supplierType}
            </if>
        </where>
    </select>
</mapper>
