<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suqi.center.machine.dao.mapper.TencentDeviceAccessInfoMapper">


    <select id="quickPageById" resultType="com.suqi.center.machine.dao.entity.TencentDeviceAccessInfo">
        SELECT <choose><when test="ew!=null and ew.sqlSelect!=null and ew.sqlSelect !='' ">${ew.sqlSelect}</when><otherwise>*</otherwise></choose> FROM tencent_device_access_info
                    <where>
                        <if test="ew != null">
                            ${ew.sqlSegment}
                        </if>
                        and id &gt; #{lastId}
                    </where>
                        ORDER BY id LIMIT #{pageSize}
    </select>

    <select id="quickPage" resultType="com.suqi.center.machine.dao.entity.TencentDeviceAccessInfo">
        SELECT <choose><when test="ew!=null and ew.sqlSelect!=null and ew.sqlSelect !='' ">${ew.sqlSelect}</when><otherwise>*</otherwise></choose> FROM tencent_device_access_info
                    <where>
                        <if test="ew != null">
                            ${ew.sqlSegment}
                        </if>
                        <if test="pageNo &gt; 1">
                        and id &gt; (
                            SELECT id FROM tencent_device_access_info
                                        <where>
                                        <if test="ew != null">
                                            ${ew.sqlSegment}
                                        </if>
                                        </where>
                                        ORDER BY id LIMIT ${((pageNo-1)*pageSize)-1}, 1)
                        </if>
                    </where>
                        ORDER BY id LIMIT #{pageSize}
    </select>
</mapper>